@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-form h1 {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.edit-form {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-family: "Raleway";
  

}


.form-edit-button {
  margin-top: 1rem;
  margin-left: 7.3rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  font-size: 1.1rem;
  font-family: "Raleway";
  background-color: blanchedalmond;
  border-radius: 10px;
  cursor: pointer;
}
.edit-form input {
  margin: 0.3rem;
  width: 26rem;
  font-size: 1rem;
}

.form-details{
    padding: 3rem;
    height: 23.7rem;
    justify-content: left;
    background-color: rgb(201, 219, 250);
    margin-bottom: 7rem;
   
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-size: 0.8rem;
  }
