@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.container {
    height: 46rem;
    width: 100%;
    background-image: url("/page/images/child.jpg")
    
}

.detail-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    color: yellowgreen;
    border-color: aqua;
    align-items: center;

}

.detail-box p{
    padding-top: 3rem;
    width: 30rem;
    font-size: 1.5rem;
    color: rgb(243, 243, 243);
    padding-left: 1rem;
    font-family: "Raleway";
    text-align: center;

}