.details-container {
  display: flex;
  justify-content: center;
}

.details-box {
  margin: 6rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
  width: 30rem;
  border-style: dashed;
  border-color: rgb(201, 219, 250);
  border-radius: 20px;
  box-shadow: 5px 5px 5px 0px rgb(202, 195, 195);
  width: 50rem;
  height: max-content;
}

.details-box h2 {
  margin: 1rem;
}

.details-box h1 {
  margin: 1rem;
}
.details-box p {
  margin: 2rem;
}

.details-box img {
  border-radius: 10px;
  max-height: fit-content;
  max-height: fit-content;
}

.comments-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments-section li {
  margin: 1rem;
  background-color: rgb(201, 219, 250);
  padding: 2rem;
  list-style: none;
  border-radius: 5px;
}

.add-comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.add-comment-section textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.add-comment-section input {
  text-decoration: none;
  color: black;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.1rem;
  font-family: "Raleway";
  background-color: blanchedalmond;
  border-radius: 10px;
  cursor: pointer;
  border-style: solid;
  margin-left: 12rem;
  border-color:rgb(201, 219, 250);
;
}

.buttons{
  display: flex;
justify-content: center;
}

.edit-button{
  text-decoration: none;
  color: black;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.1rem;
  font-family: "Raleway";
  background-color: blanchedalmond;
  border-radius: 10px;
  cursor: pointer;
  border-style: solid;
  border-color: #ccc;
  margin-right: 1rem;
  border-color:  rgb(201, 219, 250);

}

.edit-button:hover{
  color: black;
}

.delete-button{
  text-decoration: none;
  color: black;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.1rem;
  font-family: "Raleway";
  background-color: blanchedalmond;
  border-radius: 10px;
  cursor: pointer;
  border-style: solid;
  border-color:  rgb(201, 219, 250);
  
}