@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.register-form {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form h1 {
  margin-bottom: 2rem;
  margin-top: 5rem;
}

.register-form {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-family: "Raleway";
  margin-bottom: 12.5rem;
}

.button {
  
  margin-left: 1.1rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  font-size: 1.1rem;
  font-family: "Raleway";
  background-color: blanchedalmond;
  border-radius: 10px;
  cursor: pointer;
}
.register-form input {
  margin: 0.3rem;
  width: 15rem;
}

.register-details {
  margin-bottom: 7rem;
  padding: 3rem;
  height: 15rem;
  justify-content: left;
  background-color: rgb(201, 219, 250);
  margin-bottom: 8.7rem;
}
